.drop-area {
    height: 50%;
    padding: 1%;
    white-space: nowrap;
    display: -webkit-box;
}

.cpterCards {
    width: 100%;
    height: 50%;
    padding: 1%;
    display: flex;
}

.cpterCard {
    z-index:5;
}

.cardComponent {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.card-main-container {
    height: 100%;
}

.backgroundImage {
    position: absolute;
    height: 100%;
    float: left;
}

    .card-background {
        z-index: 1;
        max-height: -webkit-fill-available;
        position: absolute;
    }

.card-text-container {
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    position: absolute;
}

.card {
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    background-position: center;
    flex-direction: column;
    width: fit-content;
}

.fond {
    position: absolute;
    height: 100%;
}

.haut {
    height: 15%;
    padding-left: 10%;
    padding-top: 4%;
    z-index:3;
}
.milieu {
    height: 70%;
    z-index:3;
}
.bas {
    height: 15%;
    z-index:3;
    padding-left: 9%;
    padding-top: 4%;
}
   
   .card-picture {
    z-index: 3;
    height: 139%;
    margin-top: -20%;
   }

   .boost {
    height: 63%;
    margin-top:14%;
   }

   .attack, .defense, .hit_point, .boost {
    font-size: 1.2em;
    position: relative;
    font-family: 'Staatliches';
   }

   .card-name {
    font-size: 0.7em;

    margin-left: 11%;
    color:white;
    font-family: 'Staatliches';
   }

   .attack {
    color: #9f5252;
   }

   .defense {
    color:#52869f;
    margin-left: 72%;
    }

    .hit_point {
    color:#535f37;
    }


    @media (max-width:900px) {

        .attack, .defense, .hit_point, .boost {
            font-size: 1em;
        }
        .card-name {
            font-size: 0.6em;
        }
    }


@media (max-height: 500px) {

    .cpterCards .cardComponent {
        height: 100%;
    }

    .drop-area .cardComponent {
        height: 100%;
    }


    .cardComponent {
        /* height: 210px; */
        height: 20vh;
        min-height: 130px;
      }

    .playerCards .cardComponent {
        margin: auto;
    }

    .attack, .defense, .hit_point {
        font-size: 3.5vh;
        }

    .card-name {
        font-size: 3vh;
    }
}